{% extends 'layout_basic.html'%}

{% block title %}Detalle de la editorial{% endblock  %}

{% block title_h1 %}Editoriales{% endblock  %}

{% block content %}
    <h2>Detalles de la editorial</h2>
    {% if editorial %}
    <h2>{{editorial.nombre}} ({{editorial.ciudad}})</h2>
    <p>Dirección: {{editorial.direccion}}</p>
    <p><a href="{% url 'editoriales:update' editorial.id %}">Editar</a> <a href="{% url 'editoriales:delete' editorial.id %}">Eliminar</a></p>
    {% else %}
    <h2>No se encontró la editorial</h2>
    <a href="{% url 'editoriales:list' %}">Lista de editoriales</a>
    {% endif %}
{% endblock %}
