<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Title Default{% endblock  %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'project_books/css/styles.css' %}?v=1.3">
</head>
<body>
    <ul>
        {% block menu %}
        <li><a href="{% url 'home' %}">Home</a></li>
        {% if not request.user.is_authenticated %}
        <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
        <li><a href="{% url 'books:autores_list'%}">Autores</a></li>
        <li><a href="{% url 'books:editoriales_list'%}">Editoriales</a></li>
        <li><a href="{% url 'books:libros_list'%}">Libros</a></li>
        <li><a href="{% url 'contacto' %}">Contacto</a></li>
        {% endblock %}
    </ul>

    <h1>{% block title_h1 %}Title default{% endblock %}</h1>
    
    {% block search_form %}
        <form method="GET" action="{% url 'search' %}">
            {{search_form.as_p}}
            <button type='submit'>Enviar</button>
        </form>
    {% endblock %}
    
    <hr/>

    
    <div>
        {% block list %}
        <h2>{% block title_h2 %}Lista default{% endblock %}</h2>
        <ul>
            {% for item in items %}
            {% block list_item %}
            <li><a href="{% url 'books:autor_detail' item.id %}">
                {{item.nombre}} {{item.apellido}}</a>
            </li>
            {% endblock %}
            {% empty %}
            <li>{% block empty %}No authors found.{% endblock %}</li>
            {% endfor %}   
        </ul>
        {% endblock %}
    </div>

    {% if request.user.is_authenticated %}
        <div id="session">
            <p>Sesion iniciada como: <strong>{{user}}</strong></p>
            <a href="{% url 'logout' %}">Cerrar sesión</a>
        </div>
    {% endif %}
    
    {% include '_include/footer.html'%}
</body>
</html>