{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Title Default{% endblock %}</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'project_books/css/styles.css' %}?v=1.4">
</head>
<body>
    <ul>
        {% block menu %}
        <li><a href="{% url 'home'%}">Home</a></li>
        {% if not request.user.is_authenticated %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register'%}">Registrarse</a></li>
        {% endif %}
        <li><a href="{% url 'autores:list' %}">Autores</a></li>
        <li><a href="{% url 'editoriales:list' %}">Editoriales</a></li>
        <li><a href="{% url 'libros:list' %}">Libros</a></li>
        <li><a href="{% url 'contacto' %}">Contacto</a></li>
        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <select name="language">
                <option value="es" {% if LANGUAGE_CODE == 'es' %}selected{% endif %}>Español</option>
                <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>
            </select>
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit">Cambiar idioma</button>
        </form>
        {% endblock %}
    </ul>

    <h1>{% block title_h1 %}Title default{% endblock %}</h1>
    
    {% block search_form %}
        {% if search_form %}
        <form method="GET" action="{% url 'search' %}">
            {{search_form.as_p}}
            <button type='submit'>Enviar</button>
        </form>
        {% else%}
        {% endif %}
    {% endblock %}

    <hr/>
    <div>
        {% block content %}
        {% endblock %}
    </div>

    {% if messages %} 
        {% for message in messages %} 
            <div{% if message.tags %} class="{{ message.tags }}"{% endif %}><span>{{ message }}</span></div> 
        {% endfor %} 
    {% endif %}

    {% if request.user.is_authenticated %}
        <div id="session">
            <form method="post" action="{% url 'logout' %}"> 
                {% csrf_token %} 
                <p>{% trans 'Usuario:' %}<strong> {{user_logged}}</strong></p>
                <button type="submit">{% trans 'Cerrar sesión'%}</button> 
            </form>
        </div>
    {% endif %}

    {% include "_include/footer.html" %}
</body>
</html>